<div class="container">
  <div class="row">
    <div class=" mx-auto mt-5 mb-3">
      <div class="mb-3 top_image">
        <div class="top_text text-center">
          <h1 class=" font-italic">BestMyShoes</h1>
          <h4>〜　ベスト マイ シューズ　〜</h3>
          <p>自分の最高のランニングシューズを見つけるために作られたサイトです<br>
             自分の経験で合ったシューズ、合わなかったシューズを投稿し、<br>
             皆で自分に合ったシューズを探しましょう！
          </p>
        </div>
        <%= image_tag 'running.jpg', size: "1000x600" %>
      </div>
    </div>
  </div>
</div>

<% if admin_signed_in? || user_signed_in? %>
<% else %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<% end %>