
<h1>BestMyRunShoes</h1>
<h3>~　ベスト　マイ　ラン　シューズ　~</h3>
<p>自分の最高のランニングシューズを見つけるために作られたサイトです<br>
    自分の経験で合ったシューズ、合わなかったシューズを投稿し、<br>
    皆で自分に合ったシューズを探しましょう！
</p>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>