<% @shoes.first(10).each do |shoe| %>
  <div class="list-group">
    <%= link_to public_user_path(current_user.id) do %>
      <%= image_tag (shoe['smallImageUrls'][0]) %>
    <% end %>
  </div>
<% end %>
